.header
{
    height: 250px;
}

.headerlogo
{
 width: 10%;   
}

.hebergements, aside
{
    border-radius: 15px;
    background-color: #F2F2F2;
}


.hebergements
{
 width: 60%;
 margin: auto;
 margin-right: 20px;
}

aside
{
    width: 30%;
    border-radius: 15px;
    background-color: #F2F2F2;
    margin: auto;   
}

.figurecontainer
{
    display: flex;
    justify-content: space-between;    
    flex-wrap: wrap;        
}

.fighebergements
{
    width: 14em;
    background-color: white;
    border-radius: 15px;
    padding: 5px;
    margin:10px;
}

img
{
    width: 13em;
    border-radius: 15px;
}

.section-hebergements,.section3
{
    display: flex;
    margin: auto;
}


footer
{
    background-color: #F2F2F2;
    display: flex;
}

.article3
{
    display: flex;
    flex-wrap: wrap;
}

body
{
    width: 100%;
}

.figureaside
{
    width: auto;
    background-color: white;
    height: auto;
    border-radius: 15px;
    padding: 5px;
}



h1
{
 font-size: 1em; 
}

nav>ul
/* ul enfant de nav  */
{
    list-style: none;
}

.linav, .filtres
{
    display: inline;
}

.titre
{
    font-style: bold;
}

.prix
{
    color: grey;
}

.etoilesbleues

.etoilesnoires